<div class="modal fade" id ="user-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <div class="form-group">
                    <label for="useridE"><strong>ID</strong></label>
                    <input type="text" class="form-control" id="useridE" name="id" readonly>
                </div>
                <div class="form-group">
                    <label for="firstnameE"><strong>First Name</strong></label>
                    <input type="text" class="form-control" id="firstnameE" name="firstName">
                </div>
                <div class="form-group">
                    <label for="lastnameE"><strong>Last Name</strong></label>
                    <input type="text" class="form-control" id="lastnameE" name="lastName">
                </div>
                <div class="form-group">
                    <label for="ageE"><strong>Age</strong></label>
                    <input type="text" class="form-control" id="ageE" name="age">
                </div>
                <div class="form-group">
                    <label for="usernameE"><strong>Email</strong></label>
                    <input type="email" class="form-control" id="usernameE" name="login">
                </div>
                <div class="form-group">
                    <label for="passwordE"><strong>Password</strong></label>
                    <input type="password" class="form-control" id="passwordE" name="password" autocomplete="new-password">
                </div>
                <div class="form-group role-group">
                    <label for="roleSelectE"><strong>Role</strong></label>
                    <select multiple class="form-control" id="roleSelectE" name="rolesSelectedList">
                    </select>
                </div>
            </div>

            <div id="error-messages" class="alert alert-danger" style="display: none;">
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>